p {
  text-align: center;
  color: red;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

ul {
	position: relative;
	display: flex;
}

ul li {
	list-style: none;
	width: 100px;
	line-height: 20px;
	text-align: center;
}

ul li a {
   text-decoration: none;
 }


div {
  padding: 0rem 3rem;
}

.paper {
  text-align: left;
  color: black;
}